// src/styles/styles.scss
@use '@angular/material/prebuilt-themes/indigo-pink.css';
@use 'variables' as v;
@use 'themes' as t;

// Reset básico
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: v.$color-bg-body;
  color: v.$color-text-main;
  line-height: 1.6;
}

// Utilidades de Layout (Opcional pero muy útil)
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.text-center { text-align: center; }
.mt-1 { margin-top: 1rem; }
.mb-1 { margin-bottom: 1rem; }
.mb-2 { margin-bottom: 2rem; }
.gap-1 { gap: 1rem; }

// Encabezado principal ESPOCH
.header-espoch {
  background-color: v.$color-primary;
  color: white;
  padding: 1.5rem;
  text-align: center;
  box-shadow: v.$shadow-md;
  
  h1 {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.5px;
  }
}

// Estilos para iconos de Logo
.login-logo-container, .sidenav-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.login-icon, .sidenav-logo-icon {
  font-size: 80px !important;
  width: 80px !important;
  height: 80px !important;
  color: #1e3c72;
}

.sidenav-logo-icon {
  color: white !important;
  font-size: 60px !important;
  width: 60px !important;
  height: 60px !important;
}
